section {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  font-family: "Helvetica Neue", "Verdana", sans-serif;
  padding: 0;
  margin: 0;
}

ul div {
  width: 150px;
  height: 150px;
  text-align: center;
}

ul div .number {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 30px;
}

ul div .letter {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

ul div.orange {
  background-color: lightcoral;
}

ul div.green {
  background-color: chartreuse;
}